<div [appTelemetryImpression]="telemetryImpression">
    <!-- header -->
    <header style="height:27px;">
        <!-- top-bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 top-social-agile">
                        <div class="row">
                            <!-- social icons -->
                            <ul class="col-lg-4 col-6 top-right-info text-center">
                                <li>
                                    <a href="javascript:">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="mx-3">
                                    <a href="javascript:">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="ml-3">
                                    <a href="javascript:">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- //social icons -->
                            <div class="col-6 header-top_w3layouts pl-3 text-lg-left text-center">
                                <p class="text-white">
                                    <i class="fas fa-map-marker-alt mr-2"></i>208,
                                    New Delhi - 110020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 top-social-agile text-lg-right text-center">
                        <div class="row">
                            <div class="col-lg-7 col-6 top-w3layouts">
                                <p class="text-white">
                                    <i class="far fa-envelope-open mr-2"></i>
                                    <a href="mailto:info@example.com" class="text-white">contact@mankindpharma.com</a>
                                </p>
                            </div>
                            <div class="col-lg-5 col-6 header-w3layouts pl-4 text-lg-left">
                                <p class="text-white">
                                    <i class="fas fa-phone mr-2"></i>(+91)-11-26844592</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- //top-bar -->

    <!-- header 2 -->
    <div id="home">
        <!-- navigation -->
        <div class="main-top py-1">
            <nav class="navbar navbar-expand-lg navbar-light fixed-navi">
                <div class="container">
                    <!-- logo -->
                    <h1 style="margin-bottom: 0px;">
                        <a class="navbar-brand font-weight-bold font-italic" href="javascript:">
                            <img src="./assets/mankind/images/mankind-logo.jpg" alt="" class="img-fluid">
                        </a>
                    </h1>
                    <!-- //logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item active mt-lg-0 mt-3">
                                <a class="nav-link" href="javascript:">Home

                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/aboutus">
                                    About Mankind
                                </a>

                            </li>

                        </ul>
                        <!-- login -->
                        <a href="javascript:" class="login-button ml-lg-5 mt-lg-0 mt-4 mb-lg-0 mb-3"
                            (click)="redirectToUrl('/home')">
                            <i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                        <!-- //login -->
                    </div>
                </div>
            </nav>
        </div>
        <!-- //navigation -->
        <!-- modal -->


        <!-- //modal -->
    </div>
    <!-- //header 2 -->

    <!-- banner -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                    <div class="banner-top1">
                        <div class="banner-info_agile_w3ls">
                            <div class="container">
                                <h3>Medical services that you
                                    <span>can trust</span>
                                </h3>
                                <p class="mt-3 mb-md-5 mb-3">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation
                                    ullamco.</p>
                                <a href="/aboutus">Read More
                                    <i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top2">
                        <div class="banner-info_agile_w3ls">
                            <div class="container">
                                <h3>
                                    <span>Every Medical Excellence is achieved by incorporating the use of blended
                                        learning by combining the use of video and audio/CBT exercises</span>
                                </h3>
                                <!-- <p class="mt-3 mb-md-5 mb-3">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation
                                    ullamco.</p> -->
                                <a href="/aboutus">Read More
                                    <i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-top3">
                        <div class="banner-info_agile_w3ls">
                            <div class="container">
                                <h3>The Hospital of the
                                    <span>future, today</span>
                                </h3>
                                <p class="mt-3 mb-md-5 mb-3">sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation
                                    ullamco.</p>
                                <a href="/aboutus">Read More
                                    <i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- //banner -->
    <div class="clearfix"></div>

    <!-- banner bottom -->
    <div class="banner-bottom py-5">
        <div class="d-flex container py-xl-3 py-lg-3">
            <div class="row text-center" id="stats">

                <div class="col-lg-3 counter editContent mt-3">
                    <span class="fa fa-users"></span>
                    <div class="counter-info">
                        <h4>7200+</h4>
                        <p>Healthy and happy customers</p>

                    </div>
                </div>
                <div class="col-lg-3 counter two editContent mt-3">
                    <span class="fa fa-user-md"></span>
                    <div class="counter-info">
                        <h4>30+</h4>
                        <p>Professional medical specialist</p>

                    </div>
                </div>
                <div class="col-lg-3 counter two editContent mt-3" style="display:grid;">
                    <span class="fa fa-map-marker-alt mr-2"></span>
                    <div class="counter-info">
                        <h4>200+</h4>
                        <p>Years of impeccable and successful work</p>

                    </div>
                </div>
                <div class="col-lg-3 counter editContent mt-3">
                    <span class="fa fa-user-md"></span>
                    <div class="counter-info">
                        <h4>100+</h4>
                        <p>Professional medical specialist</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //banner bottom -->

    <!-- services -->
    <div class="why-choose-agile pt-5" id="services">
        <div class="container pt-xl-5 pt-lg-3">
            <div class="w3ls-titles text-center mb-5">
                <h3 class="title">Mankinds Products
                </h3>
                <span>
                    <i class="fas fa-user-md"></i>
                </span>
                <p class="mt-2">Our medical specialists care about you & your family’s health</p>
            </div>
            <div class="row why-choose-agile-grids-top">
                    <div class="col-lg-4 agileits-w3layouts-grid">
                        <div class="row wthree_agile_us">
                            <div class="col-3 agile-why-text p-0 text-right">
                                <div class="wthree_features_grid">
                                    <i class="fas">
                                    <img src="./assets/mankind/images/Urology-icon.png" alt="" class="img-fluid">
                                    </i>
                                </div>
                            </div>
                            <div class="col-9 agile-why-text-2">
                                <h4 class="text-dark font-weight-bold mb-3">Urology Services</h4>
                                <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                            </div>
                        </div>
                        <div class="row wthree_agile_us my-5">
                            <div class="col-3 agile-why-text p-0 text-right">
                                <div class="wthree_features_grid">
                                    <i class="fas">
                                    <img src="./assets/mankind/images/dental-icon.png" alt="" class="img-fluid">
                                    </i>
                                </div>
                            </div>
                            <div class="col-9 agile-why-text-2">
                                <h4 class="text-dark font-weight-bold mb-3">Dental services</h4>
                                <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                            </div>
                        </div>
                        <div class="row wthree_agile_us">
                            <div class="col-3 agile-why-text p-0 text-right">
                                <div class="wthree_features_grid">
                                    <i class="fas">
                                    <img src="./assets/mankind/images/Opthamology-icon.png" alt="" class="img-fluid">
                                    </i>
                                </div>
                            </div>
                            <div class="col-9 agile-why-text-2">
                                <h4 class="text-dark font-weight-bold mb-3">Opthamology Services</h4>
                                <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 agileits-w3layouts-grid img text-center">
                        <img src="./assets/mankind/images/b3.png" alt=" " class="img-fluid" />
                    </div>
                    <div class="col-lg-4 agileits-w3layouts-grid">
                        <div class="row wthree_agile_us">
                            <div class="col-9 agile-why-text-2">
                                <h4 class="text-dark font-weight-bold mb-3">Cardialogy</h4>
                                <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                            </div>
                            <div class="col-3 agile-why-text p-0">
                                <div class="wthree_features_grid">
                                    <i class="fas">
                                    <img src="./assets/mankind/images/heart-icon.png" alt="" class="img-fluid">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row wthree_agile_us my-5">
                            <div class="col-9 agile-why-text-2">
                                <h4 class="text-dark font-weight-bold mb-3">Orthopedics</h4>
                                <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                            </div>
                            <div class="col-3 agile-why-text p-0">
                                <div class="wthree_features_grid">
                                    <i class="fas">
                                    <img src="./assets/mankind/images/ortho-icon.png" alt="" class="img-fluid">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row wthree_agile_us">
                            <div class="col-9 agile-why-text-2">
                                <h4 class="text-dark font-weight-bold mb-3">Women's Health</h4>
                                <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                            </div>
                            <div class="col-3 agile-why-text p-0">
                                <div class="wthree_features_grid">
                                    <i class="fas">
                                    <img src="./assets/mankind/images/female-icon.png" alt="" class="img-fluid">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- //services -->

    <!-- blog -->
    <div class="blog-w3ls py-5" id="blog">
            <div class="container py-xl- py-lg-3">
                <div class="w3ls-titles text-center mb-5">
                    <h3 class="title text-white">Testimonial</h3>
                    <span>
                        <i class="fas fa-user-md text-white"></i>
                    </span>
                    <p class="mt-2 text-white">A Medical Representative's</p>
                </div>
                <div class="row package-grids mt-5">
    
    
                    <section id="testimonials" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="container">
    
                            <div class="owl-carousel testimonials-carousel owl-loaded owl-drag">
    
    
    
                                <div class="owl-stage-outer">
                                    <div class="owl-stage">
                                        <div class="owl-item cloned" style="width: 370px; float:left;">
                                            <div class="testimonial-item imc"> <img src="./assets/mankind/images/pp.png" class=" pro-img"
                                                    alt="" width="115">
                                                <div class="col-md-12 col-lg-12"><br>
                                                    <br>
                                                    <br>
    
                                                    <h5>Pratik Sharma</h5>
    
    
                                                    <p>Through ManKind, I got a first hand understanding of the Diabetes
                                                        Products. Until then, I had very limited understandng.Now on the
                                                        ground, I have a better knowledge of the Products and I'm confident
                                                        that my efforts are scaling our operations and impact.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item cloned" style="width: 370px; float:left;">
                                            <div class="testimonial-item imc"> <img src="./assets/mankind/images/s.png" class=" pro-img"
                                                    alt="" width="115">
                                                <div class="col-md-12 col-lg-12"><br>
                                                    <br>
                                                    <br>
    
                                                    <h5>Divya Singh</h5>
    
                                                    <p>Showcasing my product catalogue was never this easy. Thanks to NUIS I
                                                        am now able to confidently answer queries by Doctors & other
                                                        interested stakeholders of my Therepeutic Area.
                                                        <br>
                                                        <br>
                                                        <br>
    
                                                    </p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="owl-item cloned" style="width: 370px; float:left;">
                                            <div class="testimonial-item imc"> <img src="./assets/mankind/images/s3.png" class=" pro-img"
                                                    alt="" width="115">
                                                <div class="col-md-12 col-lg-12"><br>
                                                    <br>
                                                    <br>
    
                                                    <h5>Alok Verma</h5>
    
    
                                                    <p>
                                                        After going through Mankind's Online Training exercise, I suggest
                                                        all my fellow MRs to come on board and use this platform.
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
    
    
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </section>
    
    
    
                </div>
            </div>
        </div>
    <!-- //blog -->



    <!-- footer -->
    <footer>
        <div class="w3ls-footer-grids pt-sm-4 pt-3">
            <div class="container py-xl-5 py-lg-3">
                <div class="row">
                    <div class="col-md-4 w3l-footer white-bg">
                        <h2 class="mb-sm-3 mb-2">
                            <a href="javascript:" class="text-white font-italic font-weight-bold">
                                <img src="./assets/mankind/images/mankind-logo.jpg" alt="" class="img-fluid">
                            </a>
                        </h2>
                        <p>"Mission - We provide Cost Effective, Innovation based Superior Quality Pharmaceutical
                            Products across the Globe, that improve the lives of the Patients. Vision - To be a Global
                            Pharmaceutical Company, Most Admired for its affordability, Quality and Accessbility of
                            Products."</p>
                    </div>
                    <div class="col-md-4 w3l-footer my-md-0 my-4">
                        <h3 class="mb-sm-3 mb-2 text-white">Address</h3>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-location-arrow float-left"></i>
                                <p class="ml-4">208, Okhla Industrial Estate,
                                    Phase III, New Delhi - 110020</p>
                                <div class="clearfix"></div>
                            </li>
                            <li class="my-3">
                                <i class="fas fa-phone float-left"></i>
                                <p class="ml-4">(+91)-11-46541375</p>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <i class="far fa-envelope-open float-left"></i>
                                <a href="mailto:helpdesk@mankindpharma.com" class="ml-3">helpdesk@mankindpharma.com</a>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 w3l-footer">
                        <h3 class="mb-sm-3 mb-2 text-white">Quick Links</h3>
                        <div class="nav-w3-l">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="javascript:">Home</a>
                                </li>
                                <li class="mt-2">
                                    <a href="/aboutus">About Us</a>
                                </li>

                                <li class="mt-2">
                                    <a href="javascript:">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border-top mt-5 pt-lg-4 pt-3 pb-lg-0 pb-3 text-center">
                    <p class="copy-right-grids mt-lg-1">© 2019. All Rights Reserved.

                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
</div>