.ui.secondary.pointing.menu .ui.item.text-upper-case {
    text-transform: uppercase;
} 

.anon-consumption-sec-menu {
    border-bottom: 2px solid rgba(34,36,38,.15);   
}

.ui.grid>.header-height-before-login {
    height: 80px;
    justify-content: center;
    align-items: center;
}
/* #MANKIND changes for styles*/
a.item{
    font-family: "Raleway", sans-serif !important;
}
.ui.top.right.pointing.dropdown>.menu {
    top:50px;
}
/* #MANKIND changes for styles*/
