<div [appTelemetryImpression]="telemetryImpression">
    <!-- header -->
    <header style="height:27px;">
        <!-- top-bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 top-social-agile">
                        <div class="row">
                            <!-- social icons -->
                            <ul class="col-lg-4 col-6 top-right-info text-center">
                                <li>
                                    <a href="javascript:">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="mx-3">
                                    <a href="javascript:">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="ml-3">
                                    <a href="javascript:">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- //social icons -->
                            <div class="col-6 header-top_w3layouts pl-3 text-lg-left text-center">
                                <p class="text-white">
                                    <i class="fas fa-map-marker-alt mr-2"></i>208,
                                    New Delhi - 110020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 top-social-agile text-lg-right text-center">
                        <div class="row">
                            <div class="col-lg-7 col-6 top-w3layouts">
                                <p class="text-white">
                                    <i class="far fa-envelope-open mr-2"></i>
                                    <a href="mailto:info@example.com" class="text-white">contact@mankindpharma.com</a>
                                </p>
                            </div>
                            <div class="col-lg-5 col-6 header-w3layouts pl-4 text-lg-left">
                                <p class="text-white">
                                    <i class="fas fa-phone mr-2"></i>(+91)-11-26844592</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- //top-bar -->

    <!-- header 2 -->
    <div id="home">
        <!-- navigation -->
        <div class="main-top py-1">
            <nav class="navbar navbar-expand-lg navbar-light fixed-navi">
                <div class="container">
                    <!-- logo -->
                    <h1 style="margin-bottom: 0px;">
                        <a class="navbar-brand font-weight-bold font-italic" href="javascript:">
                            <img src="./assets/mankind/images/mankind-logo.jpg" alt="" class="img-fluid">
                        </a>
                    </h1>
                    <!-- //logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item active mt-lg-0 mt-3">
                                <a class="nav-link" href="javascript:">Home

                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/aboutus">
                                    About Mankind
                                </a>

                            </li>
                            <li class="list-inline-item">
                                <div class="dropdown">
                                    <a href=javascript: class="nav-link" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                        <span class="badge badge-pill badge-pink">4</span>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right dropdown-lg user-list notify-list">
                                        <li class="list-group notification-list m-b-0">
                                            <div class="slimScrollDiv"
                                                style="position: relative; overflow-y: scroll; width:260px; height: 240px;">
                                                <div class="slimscroll" style=" width: auto; height: 240px;">
                                                    <!-- list item-->
                                                    <a href="javascript:void(0);" class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left p-r-10">
                                                                <em class="fa fa-diamond bg-primary"></em>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">A new order has been placed A
                                                                    new order has been placed</h5>
                                                                <p class="m-0">
                                                                    There are new settings available
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <!-- list item-->
                                                    <a href="javascript:void(0);" class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left p-r-10">
                                                                <em class="fa fa-cog bg-warning"></em>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">New settings</h5>
                                                                <p class="m-0">
                                                                    There are new settings available
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <!-- list item-->
                                                    <a href="javascript:void(0);" class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left p-r-10">
                                                                <em class="fa fa-bell-o bg-custom"></em>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">Updates</h5>
                                                                <p class="m-0">
                                                                    There are <span
                                                                        class="text-primary font-600">2</span> new
                                                                    updates available
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <!-- list item-->
                                                    <a href="javascript:void(0);" class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left p-r-10">
                                                                <em class="fa fa-user-plus bg-danger"></em>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">New user registered</h5>
                                                                <p class="m-0">
                                                                    You have 10 unread messages
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <!-- list item-->
                                                    <a href="javascript:void(0);" class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left p-r-10">
                                                                <em class="fa fa-diamond bg-primary"></em>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">A new order has been placed A
                                                                    new order has been placed</h5>
                                                                <p class="m-0">
                                                                    There are new settings available
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                    <!-- list item-->
                                                    <a href="javascript:void(0);" class="list-group-item">
                                                        <div class="media">
                                                            <div class="media-left p-r-10">
                                                                <em class="fa fa-cog bg-warning"></em>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading">New settings</h5>
                                                                <p class="m-0">
                                                                    There are new settings available
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="slimScrollBar"
                                                    style="background: rgb(158, 165, 171); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 121.263px;">
                                                </div>
                                                <div class="slimScrollRail"
                                                    style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end notification list -->
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href=javascript: id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="./assets/mankind/images/user.png" alt="" class="img-fluid">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item scroll" href="javascript:" (click)="logout()">Log Out</a>
                                    <a class="dropdown-item" href="javascript:">Profile</a>
                                </div>
                            </li>

                        </ul>
                        <!-- login -->
                        <!-- <a href="javascript:" class="login-button ml-lg-5 mt-lg-0 mt-4 mb-lg-0 mb-3"
                            (click)="redirectToUrl('/home')">
                            <i class="fas fa-sign-in-alt mr-2"></i>Login</a> -->
                        <!-- //login -->
                    </div>
                </div>
            </nav>
        </div>
        <!-- //navigation -->
        <!-- modal -->


        <!-- //modal -->
    </div>
    <!-- //header 2 -->

    <!-- banner 2 -->
    <!-- breadcrumb -->
    <div class="breadcrumb-agile dashboard">
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/mankind">Home</a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">MR Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- //breadcrumb -->


    <!-- about -->
    <section class="about py-">


        <div id="exTab2" class="container">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#1" data-toggle="tab">TRAINING STATS</a>
                </li>
                <li><a href="#2" data-toggle="tab">QUERIES DASHBOARD SUMMARY</a>
                </li>
            </ul>

            <div class="tab-content ">
                <div class="tab-pane active" id="1">
                    <div class="row">
                        <div class="wrap">
                            <div class="search">
                                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                                <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div id="exTab3" class="container">
                            <ul class="nav nav-tabs small">
                                <li class="active">
                                    <a href="#4" data-toggle="tab" class="smll-tab">LAST 4 WEEKS</a>
                                </li>
                                <li>
                                    <a href="#5" data-toggle="tab" class="smll-tab">ALL TIME</a>
                                </li>
                            </ul>

                            <div class="tab-content ">
                                <div class="tab-pane active" id="4">

                                    <div class="row border-bottom">
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Days you Attended</h5>
                                            <p>Least Training</p>
                                            <h1>05</h1>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <img src="./assets/mankind/images/cal.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <p>Training Courses Viewed Each Week</p>
                                            <div class="col-md-12">
                                                <div class="week-graph week-w80"><span>15</span></div>
                                                <div class="week-graph week-w30"><span>7</span></div>
                                                <div class="week-graph week-w50"><span>10</span></div>
                                                <div class="week-graph week-w14"><span>3</span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row border-bottom margin-top">
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Total Training Attended</h5>

                                            <h1>35</h1>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Total Training Attended</h5>
                                            <img src="./assets/mankind/images/cht.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4">

                                            <div class="col-md-12">
                                                <div class="week-graph r-circle">
                                                    <p>Medical</p><span>8</span>
                                                </div>
                                                <div class="week-graph y-circle">
                                                    <p>Marketing</p><span>8</span>
                                                </div>
                                                <div class="week-graph g-circle">
                                                    <p>Soft Skill</p><span>3</span>
                                                </div>
                                                <div class="week-graph b-circle">
                                                    <p>Re-Fresher</p><span>8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="row border-bottom margin-top">
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Recomended Courses <span class="notifi">7</span></h5>
                                        </div>
                                        <div class="row back-color">
                                            <img src="./assets/mankind/images/reco.jpg" alt="" class="img-fluid">

                                        </div>
                                    </div> -->
                                </div>
                                <div class="tab-pane" id="5">

                                    <div class="row border-bottom">
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Days you Attended</h5>
                                            <p>Least Training</p>
                                            <h1>05</h1>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <div class="pull-left"><input type="text" class="todate"
                                                    placeholder="To Date" name="fname"></div>
                                            <div class="pull-left"><input type="text" class="fromdate"
                                                    placeholder="From Date" name="fname"></div>
                                            <img src="./assets/mankind/images/cal.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <p>Training Courses Viewed Each Week</p>
                                            <div class="col-md-12">
                                                <div class="week-graph week-w80"><span>15</span></div>
                                                <div class="week-graph week-w30"><span>7</span></div>
                                                <div class="week-graph week-w50"><span>10</span></div>
                                                <div class="week-graph week-w14"><span>3</span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row border-bottom margin-top">
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Total Training Attended</h5>

                                            <h1>35</h1>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Total Training Attended</h5>
                                            <img src="./assets/mankind/images/cht.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4">

                                            <div class="col-md-12">
                                                <div class="week-graph r-circle">
                                                    <p>Medical</p><span>8</span>
                                                </div>
                                                <div class="week-graph y-circle">
                                                    <p>Marketing</p><span>8</span>
                                                </div>
                                                <div class="week-graph g-circle">
                                                    <p>Soft Skill</p><span>3</span>
                                                </div>
                                                <div class="week-graph b-circle">
                                                    <p>Re-Fresher</p><span>8</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="row border-bottom margin-top">
                                        <div class="col-md-4 col-sm-4 col-lg-4 attn">
                                            <h5>Recomended Courses <span class="notifi">7</span></h5>
                                        </div>
                                        <div class="row back-color">
                                            <img src="./assets/mankind/images/reco.jpg" alt="" class="img-fluid">

                                        </div>
                                    </div> -->



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <div class="row">
                        <div class="container margin-top">
                            <div class="card-box">
                                <h4>PRODUCTS</h4>
                                <h5>621</h5>
                            </div>
                            <div class="card-box">
                                <h4>Queries</h4>
                                <h5>1,738</h5>
                            </div>
                            <div class="card-box">
                                <h4>Total Response</h4>
                                <h5>3621</h5>
                            </div>
                            <div class="card-box">
                                <h4>avg.response Time</h4>
                                <h5>0:00:50</h5>
                            </div>
                            <div class="card-box">
                                <h4>Total broadcast</h4>
                                <h5>738</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="col-md-4 col-lg-4 graph-bx">
                                <p>PRODUCTS & QUERIES TYPE</p>
                                <img src="./assets/mankind/images/uro.jpg" alt="">

                            </div>
                            <div class="col-md-4 col-lg-4 graph-bx">
                                <p>QUERY BY CATEGORIE</p>
                                <img src="./assets/mankind/images/uro2.jpg" alt="">
                            </div>
                            <div class="col-md-4 col-lg-4 graph-bx">
                                <p>REQUESTER TYPE & PRIORITY</p>
                                <img src="./assets/mankind/images/uro3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12 col-lg-12 graphline-bx">
                                <p>PRODUCTS TYPE & CATEGORIE BY HOUR</p>
                                <img src="./assets/mankind/images/gr.jpg" alt="" width="100%" class="img-fluid">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- //about -->

    <!-- footer -->
    <footer>
        <div class="w3ls-footer-grids pt-sm-4 pt-3">
            <div class="container py-xl-5 py-lg-3">
                <div class="row">
                    <div class="col-md-4 w3l-footer white-bg">
                        <h2 class="mb-sm-3 mb-2">
                            <a href="/mankind" class="text-white font-italic font-weight-bold">
                                <img src="./assets/mankind/images/mankind-logo.jpg" alt="" class="img-fluid">
                            </a>
                        </h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem
                            aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo.</p>
                    </div>
                    <div class="col-md-4 w3l-footer my-md-0 my-4">
                        <h3 class="mb-sm-3 mb-2 text-white">Address</h3>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-location-arrow float-left"></i>
                                <p class="ml-4">The company name
                                    <span>Lorem ipsum dolor,</span>208, Okhla Industrial Estate,
                                    Phase III, New Delhi - 110020</p>
                                <div class="clearfix"></div>
                            </li>
                            <li class="my-3">
                                <i class="fas fa-phone float-left"></i>
                                <p class="ml-4">(+91)-11-46541375</p>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <i class="far fa-envelope-open float-left"></i>
                                <a href="mailto:helpdesk@mankindpharma.com" class="ml-3">helpdesk@mankindpharma.com</a>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 w3l-footer">
                        <h3 class="mb-sm-3 mb-2 text-white">Quick Links</h3>
                        <div class="nav-w3-l">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/mankind">Home</a>
                                </li>
                                <li class="mt-2">
                                    <a href="/aboutus">About Us</a>
                                </li>
                                <li class="mt-2">
                                    <a href="javascript:">Gallery</a>
                                </li>
                                <li class="mt-2">
                                    <a href="javascript:">Appointment</a>
                                </li>
                                <li class="mt-2">
                                    <a href="javascript:">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border-top mt-5 pt-lg-4 pt-3 pb-lg-0 pb-3 text-center">
                    <p class="copy-right-grids mt-lg-1">© 2019. All Rights Reserved.

                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
</div>